@font-face {
    font-family: Abel;
    src: url(../fonts/abel.ttf);
}

@font-face {
    font-family: Sovana;
    src: url(../fonts/sovana.ttf);
}

body {
    margin: 0;
    background-color: #fdfdfd;
}

.mobile-title {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 50px;
    font-family: Abel;
    font-size: 18px;
}

.header .address {
    text-align: left;
    margin-left: 100px;
}

.header .logo {
    text-align: center;
    margin-left: 52px;
}

.header .logo img {
    width: 50px;
}

.header .contact {
    text-align: right;
    margin-right: 100px;
}

ion-icon {
    vertical-align: -3px;
}

.navbar {
    padding: 2px;
    font-size: 18px;
    text-align: center;
}

.navbar ul {
    padding: 0px;
}

.navbar li {
    display: inline;
}

.navbar a {
    padding: 4px 18px;
    font-family: Abel;
    color: #000000;
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #1b1b1b;
  }

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0) translateX(-40%);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1b1b1b;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    left: 20%;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
    left: 20%;
}

.cover {
    margin: 100px 150px;
    display: flex;
    align-items: center;
}

.cover h2 {
    font-family: Abel;
    font-size: 20px;
    color: #1b1b1b;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.cover .title {
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cover .title h1 {
    font-family: Sovana;
    font-size: 120px;
    color: #1b1b1b;
    backdrop-filter: blur(1px);
}

.cover .upper, .lower {
    padding: 2px;
    font-family: Abel;
    font-size: 20px;
    color: #1b1b1b;
}

.cover a {
    text-decoration: none;
}

.parallax {
    background-image: url(../img/cover.jpg);
    min-height: 700px; 
    width: 100%;
    float: right;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    margin: 150px 200px;
    text-align: center;
}

.about img {
    margin-bottom: -150px;
    padding: 40px 50px;
    width: 300px;
    background-color: #1b1b1b;
}

.about .mission {
    padding: 200px 200px 50px;
    background-color: #f4f1e9;
}

.about .mission p {
    margin-bottom: 50px;
    font-family: Abel;
    font-size: 24px;
}

.about .mission hr {
    width: 100px;
    height: 2px;
    background-color: #1b1b1b;
    border: none;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 150px;
}

.gallery a {
    text-decoration: none;
}

.gallery .option {
    flex-basis: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.gallery .option:hover {
    transform: scale(1.1);
}

.gallery .option img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.gallery .option .textbox {
    margin: 5px auto;
    padding: 10px 0px;
    width: 300px;
    font-family: Abel;
    background-color: #1b1b1b;
    color: #fdfdfd;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.gallery .option:hover .textbox {
    transform: scale(1.12); 
}

.reserve {
    margin-top: 100px;
    text-align: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #fdfdfd;
  margin: 100px 150px;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-family: Abel;
  font-size: 20px;
}

input[type=text] {
  width: 98%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: Abel;
  font-size: 18px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #1b1b1b;
  color: #fdfdfd;
  font-family: Abel;
  font-size: 24px;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #000000;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
}

.menu-header, .menu-subheader{
    display: flex;
    justify-content: center;
    font-family: Sovana;
    position:relative;
}

.menu-subheader {
    padding:20px;
}

.menu-subheader::before {
    content:" ";
    display: block;
    height: 2px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgba(0, 0, 0, 0.517);
}

.menu-subheader::after {
    content:" ";
    display: block;
    height: 2px;
    width: 25%;
    position: absolute;
    top: 50%;
    right: 0;
    background: rgba(0, 0, 0, 0.517);
}

.menu-list {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom:100px;
}

.itemized {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.itemized h2 {
    font-size: 20px;
    font-family: Abel;
}

.desc {
    padding-right:35%;
    font-style: italic;
    color:#323232;
}

.item {
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        font-size: 12px;
    }

    .contact {
        text-align: right;
    }

    .header .address {
        text-align: center;
        margin-left: 20px;
    }

    .header .logo {
        margin-left: 33px;

    }

    .header .logo img {
        width: 40px;
    }

    .header .contact {
        text-align: center;
        margin-right: 20px;
    }

    .navbar ul {
        padding: 0;
        margin-left: 6px;
    }

    .navbar li {
        margin: 5px 0;
        display: inline;
    }

    .cover {
        margin: 20px 10px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .cover .title {
        align-items: center;
    }

    .cover .normal-title {
       display: none; 
    }

    .cover .mobile-title {
        display: block;
        padding: 0px;
    }

    .cover h2 {
        display: none;
    }

    .cover .title .upper {
        display: none;
    }

    .cover .title h1 {
        margin-top: -2px;
        font-size: 70px;
    }

    .parallax {
        margin: 50px 10px;
        min-height: 400px;
        /* background-size: 250% auto; */
    }

    .about {
        margin: 50px 20px 80px;
    }

    .about img {
        width: 200px;
        margin-bottom: -40px;
        padding: 20px;
    }

    .about .mission {
        padding: 50px 20px;
    }

    .about .mission p {
        font-size: 18px;
    }

    .gallery {
        flex-direction: column;
        width: 90%;
        margin-bottom: 30px;
    }

    .gallery .option {
        margin-bottom: 50px;
    }

    .gallery .option img, .gallery .option .textbox {
        width: 300px;
    }

    .container, .reserve {
        margin: 50px 20px;
    }

    input[type="text"], .btn {
        font-size: 16px;
    }

    .menu-list {
        padding-left: 10%;
        padding-right: 10%;
    }

    .itemized h2, .desc {
        font-size: 18px;
    }
}